In [67]:
import numpy as np
import pandas as pd
from faker import Faker
import hashlib
import math
import random

In [115]:
import pandas.tseries.offsets as offsets

d = {'nam_id': ['001', '002'], 
     'start_date': ['2019-11-11', '2019-11-10'],
     'len':[2,3],
     'drtnp':[1.34, 2.3]}
df = pd.DataFrame(data=d)
df2 = pd.DataFrame(index=[])

for i in list(df.index):
    record = df.loc[i]
    for j in range(df.loc[i]['len']):
        record['len'] = j
        df2 = df2.append(record, ignore_index=True)        

df3 = pd.concat([df, df2])
def f1(df):
    return pd.to_datetime(df.start_date) + offsets.Day(df.len)

df3['start_date'] = df3[['start_date', 'len']].apply(f1, axis=1)  

df3

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  app.launch_new_instance()

   drtnp  len nam_id start_date
0   1.34  2.0    001 2019-11-13
1   2.30  3.0    002 2019-11-13
0   1.34  0.0    001 2019-11-11
1   1.34  1.0    001 2019-11-12
2   2.30  0.0    002 2019-11-10
3   2.30  1.0    002 2019-11-11
4   2.30  2.0    002 2019-11-12

In [125]:
import itertools
import pandas as pd

In [142]:
x1 = ['USD', 'EUR', 'CHN', 'JPN', 'KRN', 'CAD', 'B', 'C']
x2 = ['USD', 'EUR', 'CHN', 'JPN', 'KRN', 'CAD', 'B', 'C']
x3 = ['USD', 'EUR', 'CHN', 'JPN', 'KRN', 'CAD', 'B', 'C']
x4 = ['USD', 'EUR', 'CHN', 'JPN', 'KRN', 'CAD', 'B', 'C']
x5 = ['USD', 'EUR', 'CHN', 'JPN', 'KRN', 'CAD', 'B', 'C']
x6 = ['USD', 'EUR', 'CHN', 'JPN', 'KRN', 'CAD', 'B', 'C']
x7 = ['USD', 'EUR', 'CHN', 'JPN', 'KRN', 'CAD', 'B', 'C']

In [143]:
columns = ['x1', 'x2', 'x3', 'x4', 'x5']
values = list(itertools.product(x1, x2, x3, x4, x5))
df = pd.DataFrame(values, columns=columns)

In [144]:
# df[(df.x1 == df.x2) & (df.x2 == df.x3) & (df.x3 == df.x4) & (df.x4 == df.x5)]
df

        x1   x2   x3   x4   x5
0      USD  USD  USD  USD  USD
1      USD  USD  USD  USD  EUR
2      USD  USD  USD  USD  CHN
3      USD  USD  USD  USD  JPN
4      USD  USD  USD  USD  KRN
5      USD  USD  USD  USD  CAD
6      USD  USD  USD  USD    B
7      USD  USD  USD  USD    C
8      USD  USD  USD  EUR  USD
9      USD  USD  USD  EUR  EUR
10     USD  USD  USD  EUR  CHN
11     USD  USD  USD  EUR  JPN
12     USD  USD  USD  EUR  KRN
13     USD  USD  USD  EUR  CAD
14     USD  USD  USD  EUR    B
15     USD  USD  USD  EUR    C
16     USD  USD  USD  CHN  USD
17     USD  USD  USD  CHN  EUR
18     USD  USD  USD  CHN  CHN
19     USD  USD  USD  CHN  JPN
20     USD  USD  USD  CHN  KRN
21     USD  USD  USD  CHN  CAD
22     USD  USD  USD  CHN    B
23     USD  USD  USD  CHN    C
24     USD  USD  USD  JPN  USD
25     USD  USD  USD  JPN  EUR
26     USD  USD  USD  JPN  CHN
27     USD  USD  USD  JPN  JPN
28     USD  USD  USD  JPN  KRN
29     USD  USD  USD  JPN  CAD
...    ...  ...  ...  ...  ...
32738    C    C    C  KRN  CHN
32739    C    C    C  KRN  JPN
32740    C    C    C  KRN  KRN
32741    C    C    C  KRN  CAD
32742    C    C    C  KRN    B
32743    C    C    C  KRN    C
32744    C    C    C  CAD  USD
32745    C    C    C  CAD  EUR
32746    C    C    C  CAD  CHN
32747    C    C    C  CAD  JPN
32748    C    C    C  CAD  KRN
32749    C    C    C  CAD  CAD
32750    C    C    C  CAD    B
32751    C    C    C  CAD    C
32752    C    C    C    B  USD
32753    C    C    C    B  EUR
32754    C    C    C    B  CHN
32755    C    C    C    B  JPN
32756    C    C    C    B  KRN
32757    C    C    C    B  CAD
32758    C    C    C    B    B
32759    C    C    C    B    C
32760    C    C    C    C  USD
32761    C    C    C    C  EUR
32762    C    C    C    C  CHN
32763    C    C    C    C  JPN
32764    C    C    C    C  KRN
32765    C    C    C    C  CAD
32766    C    C    C    C    B
32767    C    C    C    C    C

[32768 rows x 5 columns]

In [140]:
y = 6**6

In [141]:
y

46656